In [1]:
from scTrace.pipeline import *

## Construct Larry-Perturb dataset

In [2]:
dataPath = "D:/Lineage-data/Science2020-Larry/In vitro cytokine perturbations/"

In [4]:
counts_matrix = sc.read_mtx(dataPath+'stateFate_cytokinePerturbation_normed_counts.mtx.gz')

In [5]:
counts_matrix.X

<65075x25289 sparse matrix of type '<class 'numpy.float32'>'
	with 95234935 stored elements in Compressed Sparse Row format>

In [3]:
metadata = pd.read_csv(dataPath+'stateFate_cytokinePerturbation_metadata.txt.gz', sep='\t', index_col=0)
gene_names = pd.read_csv(dataPath+'stateFate_cytokinePerturbation_gene_names.txt.gz', header=None)

In [4]:
metadata["Time point"].value_counts()

Time point
6    25945
4    23402
2    15728
Name: count, dtype: int64

In [8]:
gene_names.columns = ['gene_name']

In [12]:
gene_names

           gene_name
0      0610006L08Rik
1      0610007P14Rik
2      0610009B22Rik
3      0610009E02Rik
4      0610009L18Rik
...              ...
25284         mt-Nd3
25285         mt-Nd4
25286        mt-Nd4l
25287         mt-Nd5
25288         mt-Nd6

[25289 rows x 1 columns]

In [9]:
metadata

,Cell barcode,Time point,Cell type annotation,Cytokine condition,SPRING-x,SPRING-y
Library,,,,,,
d6_all_3,CCGACTTT-AGAACGGG,6,Mo,full cocktail,1548.110390,-216.382304
d6_all_3,GTACGGAC-ATGACTTT,6,Mo,full cocktail,3322.717065,49.209629
d6_all_3,CTGTCGCA-GTTACCGC,6,Ba,full cocktail,-500.015028,-2181.520527
d6_all_3,GATGTGGC-CCGTGTTT,6,Undifferentiated,full cocktail,740.904438,-129.771060
d6_all_3,CTCTGCGT-GGATAAAG,6,Undifferentiated,full cocktail,234.196292,1179.950718
...,...,...,...,...,...,...
d2_4,AAAGTCAT-GTTTGTTT,2,Mo,full cocktail,2176.075138,-94.986486
d2_4,GTATTGAC-AATGACCC,2,Undifferentiated,full cocktail,163.881997,1159.624179
d2_4,AACGGTAG-AAGTAATC,2,Undifferentiated,full cocktail,-218.744319,640.447114
d2_4,AGGGTAAA-AGGCAGTT,2,Undifferentiated,full cocktail,-444.515146,475.434300
d2_4,AGTAGTTA-AATTCCCA,2,Undifferentiated,full cocktail,121.364703,-313.210770

In [14]:
clone_matrix_ori = sc.read_mtx(dataPath+'stateFate_cytokinePerturbation_clone_matrix.mtx.gz')

In [15]:
clone_matrix_ori

AnnData object with n_obs Ã— n_vars = 5257 Ã— 65075

In [16]:
clone_matrix = np.array(clone_matrix_ori.X.todense())

In [25]:
clone_matrix.T.shape

(65075, 5257)

In [26]:
clonal_index = np.nonzero(clone_matrix.T)

In [27]:
clonal_index

(array([    2,     4,     6, ..., 65059, 65067, 65072], dtype=int64),
 array([2242, 1416, 2843, ...,  662,  520, 5072], dtype=int64))

In [30]:
metadata["Clone"] = "unknown"

In [31]:
metadata["Clone"][clonal_index[0]] = clonal_index[1]

C:\Users\ZeyuChen\AppData\Local\Temp\ipykernel_21508\562998929.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  metadata["Clone"][clonal_index[0]] = clonal_index[1]
C:\Users\ZeyuChen\AppData\Local\Temp\ipykernel_21508\562998929.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metadata["Clone"][clonal_index[0]] = clonal_index[1]
C:\Users\ZeyuChen\AppData\Local\Temp\ipykernel_21508\562998929.py:1: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  metadata["Clone"][clonal_index[0]] = clonal_index[1]

In [32]:
metadata

,Cell barcode,Time point,Cell type annotation,Cytokine condition,SPRING-x,SPRING-y,Clone
Library,,,,,,,
d6_all_3,CCGACTTT-AGAACGGG,6,Mo,full cocktail,1548.110390,-216.382304,unknown
d6_all_3,GTACGGAC-ATGACTTT,6,Mo,full cocktail,3322.717065,49.209629,unknown
d6_all_3,CTGTCGCA-GTTACCGC,6,Ba,full cocktail,-500.015028,-2181.520527,2242
d6_all_3,GATGTGGC-CCGTGTTT,6,Undifferentiated,full cocktail,740.904438,-129.771060,unknown
d6_all_3,CTCTGCGT-GGATAAAG,6,Undifferentiated,full cocktail,234.196292,1179.950718,1416
...,...,...,...,...,...,...,...
d2_4,AAAGTCAT-GTTTGTTT,2,Mo,full cocktail,2176.075138,-94.986486,unknown
d2_4,GTATTGAC-AATGACCC,2,Undifferentiated,full cocktail,163.881997,1159.624179,unknown
d2_4,AACGGTAG-AAGTAATC,2,Undifferentiated,full cocktail,-218.744319,640.447114,5072
d2_4,AGGGTAAA-AGGCAGTT,2,Undifferentiated,full cocktail,-444.515146,475.434300,unknown
d2_4,AGTAGTTA-AATTCCCA,2,Undifferentiated,full cocktail,121.364703,-313.210770,unknown

In [46]:
metadata["Time point"].value_counts()

Time point
6    25945
4    23402
2    15728
Name: count, dtype: int64

In [33]:
metadata["Clone"].value_counts()

Clone
unknown    39326
3094          37
968           36
2624          34
3655          33
           ...
4678           2
2688           2
132            2
4296           2
383            2
Name: count, Length: 5258, dtype: int64

In [34]:
metadata["Clone"][metadata["Clone"] == "unknown"] = np.nan

C:\Users\ZeyuChen\AppData\Local\Temp\ipykernel_21508\3085349704.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metadata["Clone"][metadata["Clone"] == "unknown"] = np.nan

In [35]:
metadata["Clone"].value_counts()

Clone
3094    37
968     36
2624    34
3655    33
2663    32
        ..
4678     2
2688     2
132      2
4296     2
383      2
Name: count, Length: 5257, dtype: int64

In [37]:
counts_matrix.obs = metadata
counts_matrix.var = gene_names
counts_matrix.obs_names_make_unique()
counts_matrix.var_names_make_unique()

In [38]:
counts_matrix

AnnData object with n_obs Ã— n_vars = 65075 Ã— 25289
    obs: 'Cell barcode', 'Time point', 'Cell type annotation', 'Cytokine condition', 'SPRING-x', 'SPRING-y', 'Clone'
    var: 'gene_name'

In [39]:
counts_matrix.obs

,Cell barcode,Time point,Cell type annotation,Cytokine condition,SPRING-x,SPRING-y,Clone
Library,,,,,,,
d6_all_3,CCGACTTT-AGAACGGG,6,Mo,full cocktail,1548.110390,-216.382304,NaN
d6_all_3-1,GTACGGAC-ATGACTTT,6,Mo,full cocktail,3322.717065,49.209629,NaN
d6_all_3-2,CTGTCGCA-GTTACCGC,6,Ba,full cocktail,-500.015028,-2181.520527,2242
d6_all_3-3,GATGTGGC-CCGTGTTT,6,Undifferentiated,full cocktail,740.904438,-129.771060,NaN
d6_all_3-4,CTCTGCGT-GGATAAAG,6,Undifferentiated,full cocktail,234.196292,1179.950718,1416
...,...,...,...,...,...,...,...
d2_4-2171,AAAGTCAT-GTTTGTTT,2,Mo,full cocktail,2176.075138,-94.986486,NaN
d2_4-2172,GTATTGAC-AATGACCC,2,Undifferentiated,full cocktail,163.881997,1159.624179,NaN
d2_4-2173,AACGGTAG-AAGTAATC,2,Undifferentiated,full cocktail,-218.744319,640.447114,5072
d2_4-2174,AGGGTAAA-AGGCAGTT,2,Undifferentiated,full cocktail,-444.515146,475.434300,NaN
d2_4-2175,AGTAGTTA-AATTCCCA,2,Undifferentiated,full cocktail,121.364703,-313.210770,NaN

In [40]:
counts_matrix.obs["Clone"] = np.array(counts_matrix.obs["Clone"]).astype(str)

In [41]:
counts_matrix.obs

,Cell barcode,Time point,Cell type annotation,Cytokine condition,SPRING-x,SPRING-y,Clone
Library,,,,,,,
d6_all_3,CCGACTTT-AGAACGGG,6,Mo,full cocktail,1548.110390,-216.382304,nan
d6_all_3-1,GTACGGAC-ATGACTTT,6,Mo,full cocktail,3322.717065,49.209629,nan
d6_all_3-2,CTGTCGCA-GTTACCGC,6,Ba,full cocktail,-500.015028,-2181.520527,2242
d6_all_3-3,GATGTGGC-CCGTGTTT,6,Undifferentiated,full cocktail,740.904438,-129.771060,nan
d6_all_3-4,CTCTGCGT-GGATAAAG,6,Undifferentiated,full cocktail,234.196292,1179.950718,1416
...,...,...,...,...,...,...,...
d2_4-2171,AAAGTCAT-GTTTGTTT,2,Mo,full cocktail,2176.075138,-94.986486,nan
d2_4-2172,GTATTGAC-AATGACCC,2,Undifferentiated,full cocktail,163.881997,1159.624179,nan
d2_4-2173,AACGGTAG-AAGTAATC,2,Undifferentiated,full cocktail,-218.744319,640.447114,5072
d2_4-2174,AGGGTAAA-AGGCAGTT,2,Undifferentiated,full cocktail,-444.515146,475.434300,nan
d2_4-2175,AGTAGTTA-AATTCCCA,2,Undifferentiated,full cocktail,121.364703,-313.210770,nan

In [43]:
counts_matrix.obs["Clone"][counts_matrix.obs["Clone"] == "nan"] = np.nan

C:\Users\ZeyuChen\AppData\Local\Temp\ipykernel_21508\2786708086.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  counts_matrix.obs["Clone"][counts_matrix.obs["Clone"] == "nan"] = np.nan

In [44]:
counts_matrix.obs

,Cell barcode,Time point,Cell type annotation,Cytokine condition,SPRING-x,SPRING-y,Clone
Library,,,,,,,
d6_all_3,CCGACTTT-AGAACGGG,6,Mo,full cocktail,1548.110390,-216.382304,NaN
d6_all_3-1,GTACGGAC-ATGACTTT,6,Mo,full cocktail,3322.717065,49.209629,NaN
d6_all_3-2,CTGTCGCA-GTTACCGC,6,Ba,full cocktail,-500.015028,-2181.520527,2242
d6_all_3-3,GATGTGGC-CCGTGTTT,6,Undifferentiated,full cocktail,740.904438,-129.771060,NaN
d6_all_3-4,CTCTGCGT-GGATAAAG,6,Undifferentiated,full cocktail,234.196292,1179.950718,1416
...,...,...,...,...,...,...,...
d2_4-2171,AAAGTCAT-GTTTGTTT,2,Mo,full cocktail,2176.075138,-94.986486,NaN
d2_4-2172,GTATTGAC-AATGACCC,2,Undifferentiated,full cocktail,163.881997,1159.624179,NaN
d2_4-2173,AACGGTAG-AAGTAATC,2,Undifferentiated,full cocktail,-218.744319,640.447114,5072
d2_4-2174,AGGGTAAA-AGGCAGTT,2,Undifferentiated,full cocktail,-444.515146,475.434300,NaN
d2_4-2175,AGTAGTTA-AATTCCCA,2,Undifferentiated,full cocktail,121.364703,-313.210770,NaN

In [45]:
counts_matrix.write(dataPath + 'larry_scobj.h5ad')

## Split dataset

In [ ]:
data_combine = sc.read(dataPath + 'larry_scobj.h5ad')

In [ ]:
data_combine.var_names = data_combine.var.loc[:,"gene_name"]

In [ ]:
def getScObjects(scobj, item, values, n_neighbors = 10, n_pcs = 40):
    data_split = [scobj[scobj.obs[item] == v,:] for v in values]
    data_split = [preProcess(d, log_normalize=True) for d in data_split]
    comm_hvgs = set([g for d in data_split for g in d.var.index[d.var.highly_variable]])
    
    for di in range(len(data_split)):
        data_split[di].var.highly_variable = [gene in comm_hvgs for gene in data_split[di].var.index]
        data_split[di] = runScanpy(data_split[di], n_neighbors, n_pcs, regress=False)
    
    return(data_split)

In [ ]:
data_2, data_4, data_6 = getScObjects(data_combine, item = 'Time point', values = [2, 4, 6], n_neighbors = 10, n_pcs = 40)

In [ ]:
data_2.write(dataPath + 'D2_larry_scobj.h5ad')
data_4.write(dataPath + 'D4_larry_scobj.h5ad')
data_6.write(dataPath + 'D6_larry_scobj.h5ad')